@let admins = admins$ | async;
@let clients = clients$ | async;

<section id="Dashboard" class="py-4">
  <div class="container">
    <div class="row">

      <!-- Profile -->
      <div class="col-lg-3 mb-4">
        <app-user [user]="user"></app-user>
      </div>

      <!-- Content -->
      <div class="col-lg-9 bg-body rounded-5 p-3">
        <div class="containerTypes">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="Admin-tab" data-bs-toggle="tab" data-bs-target="#Admin-tab-pane"
                type="button">
                Admins
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Clients-tab" data-bs-toggle="tab" data-bs-target="#Clients-tab-pane"
                type="button">
                Clients
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Products-tab" data-bs-toggle="tab" data-bs-target="#Products-tab-pane"
                type="button">
                Products
              </button>
            </li>
          </ul>

          <div class="tab-content mt-3" id="myTabContent">

            <!-- Admins -->
            <div class="tab-pane fade show active" id="Admin-tab-pane" role="tabpanel">
              <div class="row">
                @if (admins) {
                @for (admin of admins; track admin.email) {
                <div class="col-lg-4 col-md-6 mb-4">
                  <app-user [user]="admin"></app-user>
                </div>
                }
                }
              </div>
            </div>

            <!-- Clients -->
            <div class="tab-pane fade" id="Clients-tab-pane" role="tabpanel">
              <div class="row">
                @if (clients) {
                @for (client of clients; track client.email) {
                <div class="col-lg-4 col-md-6 mb-4">
                  <app-user [user]="client"></app-user>
                </div>
                }
                }
              </div>
            </div>

            <!-- Products -->
            <div class="tab-pane fade" id="Products-tab-pane" role="tabpanel">
              <app-product></app-product>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>