<div class="card text-center rounded-4 py-3 px-2" [ngClass]="{ 'notUser': isAdmin || isClient }">
  <img [src]="user?.img" class="card-img-top" alt="">

  <div class="card-body">
    <h5 class="card-title mb-3">
      @if (isEditable) {
      <i class="fa-regular fa-pen-to-square edit text-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="openEdit('name', user.name)"></i>
      }
      {{ user?.name }}
    </h5>

    @for (item of userInfo; track item.key) {
    @if (user?.[item.key]) {
    <div class="row mb-3">
      <div class="col-4 d-flex">
        @if (isEditable) {
        <i class="fa-regular fa-pen-to-square edit text-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="openEdit(item.key, user[item.key])"></i>
        }
        <h6>{{ item.label }} :</h6>
      </div>

      <div class="col-8">
        <h6>{{ user[item.key] }}</h6>
      </div>
    </div>
    }

    }
    @if(!isEditable){
    <div class="buttons">
      <button class="btn btn-danger w-100">Ban</button>
    </div>
    }
  </div>
</div>

@if (isEditable) {
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit {{ field }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (field === 'gender') {
        <select class="form-select mt-3" [(ngModel)]="value">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        }@else {
        <input [type]="getInputType(field)" class="form-control" [(ngModel)]="value">
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info text-white" [attr.data-bs-dismiss]="canDismissModal ? 'modal' : null" (click)="saveChanges()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
}