@let products = products$ | async;
@if (products) {

<div class="table-responsive">
    <table class="table table-info table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
            @if (products) {
            @for (product of products; track product.id; let i = $index) {
            <tr>
                <th scope="row">{{ i + 1 }}</th>

                <td>{{ product.title }}</td>

                <td>{{ product.price }}</td>

                <td>{{ product.quantity }}</td>

                <td>
                    <span class="badge" [class.text-bg-success]="product.status === 'Available'"
                        [class.text-bg-danger]="product.status === 'Out of stock'">
                        {{ product.status }}
                    </span>
                </td>

                <td>{{ product.created_at }}</td>

                <td>
                    <button class="btn btn-sm btn-info me-2" data-bs-toggle="modal" data-bs-target="#productModal"
                        (click)="openEdit(product)">
                        Edit
                    </button>

                    <button class="btn btn-sm btn-danger" (click)="deleteUser()">
                        delete
                    </button>
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>
}

@if(editProduct) {
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="productModalLabel">Edit Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="form-label">Title</label>
                <input type="text" name="title" class="form-control mb-3" [(ngModel)]="editProduct.title">

                <label class="form-label">Price</label>
                <input type="number" name="price" class="form-control mb-3" [(ngModel)]="editProduct.price">

                <label class="form-label">Quantity</label>
                <input type="number" name="quantity" class="form-control mb-3" [(ngModel)]="editProduct.quantity">

                <label class="form-label">Status</label>
                <select name="status" class="form-select" [(ngModel)]="editProduct.status">
                    <option value="Available">Available</option>
                    <option value="Out of stock">Out of stock</option>
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal"
                    (click)="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>
}